{% extends "import.html" %} 
{% block content %}

{% extends "import.html" %}
{% block content %}

<center>
<br><h2>Plant Disease Diagnosis</h2><br>

<form id="upload-file" enctype="multipart/form-data">
    <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">
</form>

<br>
<button id="btn-predict">Predict</button>

<h3 id="result"></h3>

</center>

<script>
document.getElementById("btn-predict").onclick = function () {
    let fileInput = document.getElementById("imageUpload");
    let formData = new FormData();
    formData.append("file", fileInput.files[0]);

    fetch("/predict", {
        method: "POST",
        body: formData
    })
    .then(response => response.text())
    .then(data => {
        document.getElementById("result").innerText = data;
    });
};
</script>

{% endblock %}